* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #8b4177;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header {
    height: 60px;
    background-color: #252526;
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 1.2rem;
    font-weight: bold;
    color: #8b4177;
}
.logo span { color: #ccc; }

.btn {
    border-radius: 50px;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 10px;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.btn-primary { background-color: #9c0e6d; color: white; }
.btn-primary:hover { background-color: #9c0e6d; }

.btn-secondary { background-color: #3c3c3c; color: #ccc; }
.btn-secondary:hover { background-color: #4b4b4b; }

.main-container {
    display: flex;
    flex: 1;
    height: calc(100vh - 60px);
}


.sidebar {
    width: 250px;
    background-color: #252526;
    border-right: 1px solid #333;
    padding: 15px;
    overflow-y: auto;
}

.sidebar h3 {
    margin-bottom: 20px;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #6f7072;
}

.category-title {
    font-size: 0.8rem;
    color: #ccc;
    margin-top: 15px;
    margin-bottom: 5px;
    padding-left: 5px;
}

.draggable-item {
    padding: 10px;
    background-color: #333;
    border: 1px solid #3e3e42;
    border-radius: 4px;
    margin-bottom: 8px;
    cursor: grab;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.draggable-item:hover {
    background-color: #444;
    border-color: #9c0e6d;
}

.var-block { border-left: 4px solid #9cdcfe; }/*Переменные */
.set-block { border-left: 4px solid #dcdcaa; } /*Присваивание */
.logic-block { border-left: 4px solid #c586c0; } /*Условия */
.loop-block { border-left: 4px solid #c586c0; }
.math-block { border-left: 4px solid #4ec9b0; } /*Математика */
.print-block { border-left: 4px solid #ce9178; } /*Строки/Вывод */


.workspace {
    flex: 1;
    background: linear-gradient(135deg, #fbc2eb 0%, #a6c1ee 100%); 
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.05);
    border: 4px solid #fff;
}


.grid-background {
    position: absolute;
    width: 100%; height: 100%;
    background-image: radial-gradient(rgba(255, 255, 255, 0.6) 2px, transparent 2px);
    background-size: 25px 25px;
    opacity: 0.6;
    pointer-events: none;
}

.start-node {
    position: absolute;
    top: 50px;
    left: 50px;
    padding: 10px 20px;
    background-color: #d25fa2;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.4);
}

.console-panel {
    width: 300px;
    background-color: #181818;
    border-left: 1px solid #333;
    display: flex;
    flex-direction: column;
}

.console-header {
    padding: 10px;
    background-color: #252526;
    border-bottom: 1px solid #333;
    font-size: 0.85rem;
    display: flex;
    justify-content: space-between;
}
.clear-console { cursor: pointer; color: #aaa; }
.clear-console:hover { color: #fff; }

.console-output {
    flex: 1;
    padding: 10px;
    font-family: 'Consolas', monospace;
    font-size: 0.85rem;
    color: #ccc;
    overflow-y: auto;
}

.log-line { margin-bottom: 5px; }
.log-line.error { color: #f48771; }
.log-line.success { color: #89d185; }
.log-line.system { color: #569cd6; }
